@charset 'utf-8';
html{
	height: 100%;
	width: 100%;
	/* font-size:16px; */
	font-size:31.25vw;
}
body { color:#333;height: 100%; font:16px "SimSun","宋体","Arial Narrow",HELVETICA;     background: #f7f7f7;}
*{
	margin:0;
	padding:0;
}

ul,ol,dl{
	list-style:none;
}

i,em{
	font-style:normal;
}

b,strong{
	font-weight:normal;
}

a,u{
	text-decoration:none;
	color: #444;
}


h1,h2,h3,h4,h5,h6{
	font-size:16px;
	font-weight:normal;
}

input{
	outline:none;
	border:0;
}

img{
	display:block;
	border:0;
}

.fr{
	float:right;
}

.fl{
	float:left;
}

.clearFix:after{
	content:'';display:block;height:0;overflow:hidden;visibility:hidden;clear:both;
}
.icon {  
	width: 1em; height: 1em;  
	vertical-align: -0.15em;  
	fill: currentColor;  
	overflow: hidden;  
 } 
 *, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}





























































